doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Charisma
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/static/css/main.css')
body
    header
        nav
            ul
                li
                    a(href='index') Home
                li
                    a(href='resume') Resume
                li.navexception Charisma
                li
                    a(href='https://www.facebook.com/kido.jung') Links
    .bgphoto
        .layout
            h2.resume-charisma-title Charisma
            .charisma-introduction
                p
                    | A big fascination of mine has always been why some people have charimsa and others do not. What inspires people? What drives people to do things in a certain way? What are the mechanics of a true leader that radiates charisma. Throughout the years I&apos;ve learned that certain people, who I admire off course, got some of the parts that combined are to me the definition of charimsa. Now let&apos;s take a look at some of the people which I think are a a true showcase to charisma.
            h3.musk-lee-header
                a(href='https://en.wikipedia.org/wiki/Elon_Musk') Elon Musk
            .musk-lee-info
                p
                    | A true visionair way ahead of his time. What I really admire about him is his strongwilled perserverence to pursue seemingly impossable odss, for example, men as a multiplanet species with Space X, for a better human future. Altough he almost failed with Space X, he gets closer step by step as he now has a 1.5billion dollar contract with NASA. That is inspiring to me.
                    br
                    |  &quot;There is a path and a way to do it. Even if that path has a lot of danger and risk asociated with it, even if the odds are that it won&apos;t succeed, it is worth trying to do it&quot; - Elon Musk
            .video
                iframe(width='1000', height='500', controls='', src='https://www.youtube.com/embed/qa9G5EdKiRw')
            h3.musk-lee-header
                a(href='https://en.wikipedia.org/wiki/Bruce_Lee') Bruce Lee
            .musk-lee-info
                p
                    | A martial arts legend who just oozes charisma. Take a look at the famous interview with Pierre Berton in 1971. The interview was held in a time when racial discirimination frequently occured in the United States. This interview masterfully demonstrates how Bruce Lee deflects Pierre Burton&apos;s demeanour and sometimes insinuating questions in a variety of ways. First off, he&apos;s building rapport with a genuine smile and then when asked a question by Pierre Burton, he mimics him by saying the last few words so that Pierre Burton knows he is being listened to. What is most interesting though, is the way he is controlling the framed questions that Pierre Burton is asking. He doesn&apos;t reply to the questions the way it is formulated but replies in a way that is more interesting and fascinating that allows him to connect with Pierre Burton. Enough said, watch the interview!
                    br
                    |  - &quot;All knowledge leads to self-knowledge - Bruce Lee&quot;
            .video
                iframe(width='1000', height='500', controls='', src='https://www.youtube.com/embed/RCl5pKLmz7A')
