doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Index
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/static/css/main.css')

body
    header
        nav
            ul
                li.navexception Home
                li
                    a(href='resume') Resume
                li
                    a(href='charisma') Charisma
                li
                    a(href='https://www.facebook.com/kido.jung') Links
    .bgphoto
        .layout
            h1.home-title Kido Jung
            h4#introduction
                | To get to know me a bit better I thought it would be a good idea to look at a couple of different aspects of my life so you guys get an idea of who I am as a person.
                br
                |  Nice to meet you all, be sure to add me on FB by clicking the link in the navigation bar!
            .gallery
                img.photo_kido(src='https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/389496_10151302652718055_5392242_n.jpg?oh=405fec866eb7e6fe3547c0352b37babd&oe=58D76DBE')
                |  
                img.photo-kido(src='https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/309902_10151000778893055_2106867300_n.jpg?oh=b22e312fbaa9546a420bba75ab153f6c&oe=58DAD5F5')
                |  
                img.photo-kido(src='https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/1488991_10152286292118055_1020603759_n.jpg?oh=29c16dbeb8e867e8c3c159fa8548e1ad&oe=58DB26FF')
