doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Resume
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/static/css/main.css')
body
    header
        nav
            ul
                li
                    a(href='index') Home
                li.navexception Resume
                li
                    a(href='charisma') Charisma
                li
                    a(href='https://www.facebook.com/kido.jung') Links
    .bgphoto
        .layout
            h2.resume-charisma-title CV Kido Jung
            .resume-text
                h3.resume-heading Education Experience
                ul
                    li Bachelor of Law (LLB) Toga Traject (Utrecht University 2010-2015)
                    p
                        | - Specialized in comparative criminal law and juvenile law. Minor in social neuroscience and behaviour. Coursework included in-depth research between alternative sentences of different law systems and analysis of juvenile system within an international scope
                    li Perquisite courses for Medicine (Luzac College 2011-2012)
                    br
                h3.resume-heading Employment Experience
                ul
                    li International Bike Group (IBG) Amsterdam (August 2016 - Current)
                    p
                        | - Assistant Manager: manage and coordinate E-Bike Store of IBG: distribution in store, mentoring sales performance, evaluate executive sales
                    p
                        | - Draft reports and evaluate turnover sales. Direct reports to sales and distribution manager.
                    li Sustainability Frontiers Consulting Toronto, CA (August 2015 - March 2016)
                    p
                        | - Junior Researcher: conducting method driven desk and field research and analysis regarding sustainability related education
                    p
                        | - Development and evaluation consultations, including for institutional transformation intiatives
                    p  - Drafting reports, evalutions, trainings, concept notes, mappings
                    p  - Organizing and facilitating small conferences, seminars and workshops
                    li Trouw Amsterdam (May 2013 - January 2015)
                    p
                        | - Bartender and Communication Coordinator: coordinating promotional events through social media and digital advertising
                    p  - Monitoring and evaluating cuurend and upcoming events
                    p  - Bartended big events such as Amsterdam Dance Event
                    li Marketing Research Office Ipsos (June 2009 - January 2012)
                    p
                        | - Advertising Transcriptionist: transcribing research data for various NGO&apos;s and state institutions
                    li Sales Marketing Office Cobra Group (July 2009 - January 2009)
                    p  - Crewleader in charity sales on behalf of Amnesty International
                    p  - Facilitating and mentoring the executive sales of five junior employees
                    p
                        | - Member of strategy team, delivering weekly sale presentations during board meetings with the aim of educating junior sale colleagues
                h3.resume-heading Volunteer Experience
                ul
                    li Union of Volunteers Rotterdam (September 2011 - October 2012)
                    p
                        | - Personal Care assistant for the elderly: Ditstributin nutritional needs to the residence
                    p  - Facilitated weekly outdoor activities in order to promote healthy lifestyle
                h3.resume-heading Languages
                .language
                    ul
                        li Native:Dutch -
                        li English: Fluent -
                        li French: Conversational -
                        li German: Conversational -
                        li Japenese: Basic
