doctype html
html
    head
        link(rel='stylesheet', href='/static/css/style.css')
        nav
            .nav-wrapper
                ul
                    li
                        a(href='/form') Home
                    li
                        a(href='/form') Form
                    li
                        a.active(href='/messages') Messages
    body
        p#postedmessages All messages posted:
        each message in allMessages
            p#messagestitle #{message.title}
            p#messagesbody #{message.body}

