doctype html
html
	head
		link(rel='stylesheet', href='/static/css/style.css')
	body
		section.webdesigntuts-workshop
			form(action='/search', method='post')
				input(name='searchbar', type = 'search' placeholder='Fill here in your name')
				button Search

